*{
    font-size: 22px !important;
    font-family: "Montserrat", serif;
    font-weight: 400;
}
.homePage-info{
    box-shadow: 0 6px 15px rgb(109, 109, 109);
    border-radius: 25px;
    padding: 30px 10px !important;
    
}