*{
    font-size: 22px !important;
    font-family: "Montserrat", serif;
    font-weight: 400;
}
.homePage-info{
    box-shadow: 0 6px 15px rgb(109, 109, 109);
    border-radius: 25px;
    padding: 30px 10px !important;
    
}
.list-item{
    border: none !important;
    box-shadow: 0 2px 4px gray;
    margin: 10px 10px;
    border-radius: 8px;
    width: 700px;
    cursor: pointer;
    color: black !important;
    text-decoration: none;
    padding: 10px;
}
.title{
    color: red;
    text-align: center;
    font-size: 35px !important;
}